@use '../../../styles/mixins' as *;

.panelWrapper {
	@include flex-center();
	justify-content: space-between;
	align-items: flex-start;
	@media (max-width: 768px) {
		flex-direction: column;
	}

	button {
		padding: 1%;
	}

	.genresContainer {
		width: 70%;
		@include flex-center($gap: 5px);
		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.sortControlContainer {
		width: 28%;
		font-size: 20px;
		@include flex-center($wrap: nowrap, $gap: 5px);
		justify-content: space-around;
		@media (max-width: 768px) {
			width: 100%;
		}

		label {
			width: 42%;
		}

		select {
			width: 80%;
			font-size: 18px;
			cursor: pointer;
			option {
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}

			&:focus {
				outline: none;
			}
		}
	}
}
