@use '../../styles/variables' as *;

.button {
	background-color: transparent;
	text-transform: uppercase;
	height: fit-content;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;

	&.primary {
		background-color: $color-titles;
		border-color: $color-titles;
		color: $color-text;
	}

	&.secondary {
		border-color: $color-titles;
		color: $color-titles;
	}

	&.danger {
		background-color: $color-titles;
		border-color: $color-titles;
		color: $color-text;
	}

	&.transparent {
		border-color: rgba(96, 96, 96, 0.68);
		background-color: rgba(96, 96, 96, 0.68);
	}
}

.fullWidth {
	width: 100%;
}
