@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
.movieTileWrapper {
	position: relative;
	flex: 1 1 calc(25% - 20px);
	max-width: calc(25% - 20px);
	min-width: 240px;
	cursor: pointer;
	@include flex-center($direction: column, $gap: 5px);
	align-items: start;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}

	.poster {
		width: 100%;
		aspect-ratio: 2 / 3;
		object-fit: cover;
		display: block;
	}

	h3 {
		margin: 1%;
		font-size: 18px;
		font-weight: 500;
	}
	p {
		margin: 1%;
		font-size: 14px;
		&:last-of-type {
			text-align: center;
			position: absolute;
			top: 16px;
			left: 16px;
			border-radius: 4px;
			background-color: $extra-bg;
			border: 1px $input-bg solid;
			padding: 1%;
			margin: 0;
		}
	}
}

.modalButtons {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	margin-top: 18px;
}

@media (max-width: 1100px) {
	.movieTileWrapper {
		flex-basis: calc(50% - 20px);
		max-width: calc(50% - 20px);
	}
}

@media (max-width: 700px) {
	.movieTileWrapper {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 0;
	}
}

.menuContainer {
	position: absolute;
	top: 25px;
	right: 25px;
}

.menuButton {
	background-color: black;
	border: none;
	border-radius: 50%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	gap: 1px;
	button {
		width: 100%;
	}
}

.dots {
	display: flex;
	flex-direction: column;
	gap: 4px;

	& div {
		background-color: white;
		width: 4px;
		height: 4px;
		border-radius: 50%;
	}
}
