@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0 20px;
	height: 200px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../../assets/images/header_background.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(8px);
		z-index: 0;
		transform: scale(1.1);
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.leftSection {
		width: 100%;
		@include flex-center();

		.searchBlock {
			width: 80%;
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				'title title'
				'input button';
			gap: 20px 16px;
			align-items: center;
			@media (max-width: 768px) {
				margin-top: 10%;
				display: flex;
				flex-direction: column;
				align-items: baseline;
				text-align: center;
				width: 100%;
			}

			h1 {
				grid-area: title;
				margin: 0;
				@media (max-width: 768px) {
					font-size: 1em;
				}
			}

			> div {
				grid-area: input;
				width: 100%;
			}

			input {
				font-size: 20px;
				@media (max-width: 768px) {
					font-size: 16px;
				}
			}

			button {
				grid-area: button;
				padding: 14px 28px;
				border-radius: 6px;
				@media (max-width: 768px) {
					padding: 10px;
				}
			}
		}
	}

	.rightSection {
		position: absolute;
		top: 5%;
		right: 5%;
		@include flex-center($direction: column, $gap: 5px);

		> div {
			width: 100%;
		}

		button {
			padding: 5px;
			width: 100%;
		}
	}
}

.logo {
	position: absolute;
	top: 5%;
	left: 5%;
	cursor: pointer;
}

.findText {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.userMenuWrapper {
	width: 100%;
}
